<!-- footer partial -->
<footer >
    <div style="padding-top:7px;margin-top:50px;background-color: #eee;" class="container-fluid">
        <p style="margin-left:50px;" class="pull-left">All Rights Reserved © Mapple 2017</p>
        <div style="margin-right:50px" class="pull-right">
            <ul class="list-inline">
                <li><a href="mailto:hepu24@gmail.com"><i class="fa fa-fw fa-envelope-o fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</footer>