<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Mapple" style="display:inline-block;vertical-align:middle;margin:auto;max-width:20px;" src="https://seeklogo.com/images/A/apple-logo-52C416BDDD-seeklogo.com.png">
                Mapple
            </a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input id="login-username" type="text" style="margin-right:10px;" class="form-control" placeholder="Username">
                <input id="login-password" type="password" style="margin-right:10px;" class="form-control" placeholder="Password">
                <input id="login" type="submit" value="Sign in" class="btn btn-default btn-sm" style="width:90px;margin-right:10px;">
            </div>
<!--             <button id="login-btn" type="button" style="width:90px;margin-right:10px;" class="btn btn-default btn-sm">Login</button> -->
<!--             <button type="button" style="width:90px" class="btn btn-default btn-sm">Register</button> -->
        </form>
    </div>
</nav>
<div class="breadcrumb" style="margin-top:-20px;min-height:55px;">
    <button id="new_map" type="button" style="width:90px;margin-right:10px;" class="btn btn-default">New Map</button>
    <button type="button" style="width:90px" class="btn btn-default">My Maps</button>
</div>


<!-- method="POST" action="/users/"  -->
