<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Mapple" style="display:inline-block;vertical-align:middle;margin:auto;max-width:20px;" src="https://seeklogo.com/images/A/apple-logo-52C416BDDD-seeklogo.com.png">
                Mapple
            </a>
        </div>

<% if (user) { %>

        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input id="logout" type="submit" value="Logout" class="btn btn-default btn-sm" style="width:90px;margin-right:10px;">
            </div>
        </form>

<% } else { %>

        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input id="login-username" type="text" style="margin-right:10px;" class="form-control" placeholder="Username">
                <input id="login-password" type="password" style="margin-right:10px;" class="form-control" placeholder="Password">
                <input id="login" type="submit" value="Login" class="btn btn-default btn-sm" style="width:90px;margin-right:10px;">
            </div>
        </form>

<% } %>

    </div>
</nav>

<% if (user) { %>

<div class="breadcrumb" style="margin-top:-20px;min-height:55px;">
    <button id="new-map" type="button" style="width:90px;margin-right:10px;" class="btn btn-default">New Map</button>
    <button id="my-maps" type="button" style="width:90px" class="btn btn-default">My Maps</button>
</div>
<% } %>
