<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head %>
  <body>
    <% include partials/_navbar %>

    <div>
      <h2>Favorite Maps</h2>
      <div id="favorite-maps">

      </div>
    </div>

    <div>
      <h2>Recent Maps</h2>
      <ul id="recent-maps">

      </ul>

    </div>




    <% include partials/_footer %>


    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/index-listeners.js"></script>
    <!-- <script type="text/javascript" src="/scripts/maps.js"></script> -->
    <script type="text/javascript" src="/scripts/event_listeners.js"></script>


  </body>
</html>
