<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head %>
  <body>
    <% include partials/_navbar %>

    <main class="main-container">
      <div>
        <h2>Favorite Maps</h2>
        <ul id="favorite-maps"></ul>
      </div>
      <div>
        <h3>All Maps</h3>
        <ul id="recent-maps"></ul>
      </div>
    </main>
    <% include partials/_footer %>

    <script type="text/javascript" src="/scripts/index-listeners.js"></script>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
  </body>
</html>
