<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head %>
  <body>
    <% include partials/_navbar %>

  <main class="main-container">
    <div>
      <h2>Favorite Maps</h2>
      <ul id="favorite-maps">

      </ul>
    </div>

    <div>
      <h3>All Maps</h3>
      <ul id="recent-maps">

      </ul>

    </div>


  </main>



    <% include partials/_footer %>


    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/index-listeners.js"></script>
    <!-- <script type="text/javascript" src="/scripts/maps.js"></script> -->
    <script type="text/javascript" src="/scripts/event_listeners.js"></script>


  </body>
</html>
