<!DOCTYPE html>
<html lang="en">
    <%- include partials/_head %>
    <body>
        <% include partials/nav-bar %>
        <% include partials/sec-nav-bar %>
        <h1>Hello World!</h1>
        <% include partials/footer %>
    </body>
</html>
