<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head %>
  <style>
      #map {
       height: 400px;
       width: 100%;
      }
  </style>
  <body>
    <% include partials/_navbar %>
    <% include partials/_subnavbar %>
    <div id="favored-maps-container">
        <!-- container for a carousel of the top three favored map -->
        <div class="row">
            <div class="col-md-12">
                <div>

                  <div id="favored-maps-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#favored-maps-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#favored-maps-carousel" data-slide-to="1"></li>
                      <li data-target="#favored-maps-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div id="map0" class="item active">
                        <!-- the most favored map's image comes here through injection-->
                      </div>

                      <div id="map1" class="item">
                        <!-- the second most favored map's image comes here through injection-->
                      </div>

                      <div id="map2" class="item">
                        <!-- the third most favored map's image comes here through injection-->
                      </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#favored-maps-carousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#favored-maps-carousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                </div>
            </div>
        </div>

        <div id="recent-maps-container">
        <!-- container a series of maps in order of time of last update -->
        </div>


    <% include partials/_footer %>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/maps.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuw3H9Ze9hLg4XxnnJA6EpzPYs1CAK6qU&callback=initMap">
    </script>
  </body>
</html>
