<!DOCTYPE html>
<html lang="en">

  <%- include partials/_head %>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
    <body>
        <% include partials/_navbar %>
        <div class="container">
            <!-- title -->
            <div class="row">
                <div class="col-md-12">
                    <h1>create new map.</h1>
                </div>
            </div>
            <!-- populate blank google map -->
            <div class="row">
                <div class="col-md-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        
        <!-- new map information form -->
        <div class="row" style="padding:5em">
            <div class="form-group">
                <label for="addMapName" class="control-label">Name:</label>
                <input type="text" class="form-control" id="addMapName">
            </div>
            <div class="form-group">
                <label for="addMapDescription" class="control-label">Name:</label>
                <input type="text" class="form-control" id="addMapDescription">
            </div>
            <div class="form-group">
                <label for="addMapLatitude" class="control-label">Latitude: </label>
                <input type="text" class="form-control" id="addMapLatitude">
            </div>
            <div class="form-group">
                <label for="addMapLongitude" class="control-label">Longitude: </label>
                <input type="text" class="form-control" id="addMapLongitude">
            </div>
            <div class="modal-footer">
                <button id="addMapSave" type="button" class="btn btn-primary">Create Map</button>
            </div>
            </div>
        </div>
        <% include partials/_footer %>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
    <!-- google map api -->
    <script>
        initMap = () => {
            // initializing blank map  
            let map = new google.maps.Map(document.getElementById('map'),{
                center:{lat:43.6444509,lng:-79.3993174},
                zoom:8
            });
            $('#addMapSave').click(() => {

                // prepare data object
                let data = {
                    map_name: $('#addMapName'.val();
                    map_description: $('#addMapDescription').val();
                    map_latitude: $('#addMapLatitude').val();
                    map_longitude: $('#addMapLongitude').val();
                }

            });

            // add latlng to map on click listener
            map.addListener('click', (event) => {
                console.log('click!');
                // get latlng
                let lat = event.latLng.lat();
                let lng = event.latLng.lng();

                // // inject into field 
                $('#addMapLatitude').val(lat);
                $('#addMapLongitude').val(lng);
            });
        
        
        
        
        
        
        
        
        }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuw3H9Ze9hLg4XxnnJA6EpzPYs1CAK6qU&callback=initMap">
    </script>
  </body>
</html>